- title "Dashboard"

.content.dashboard
  .span-16
    .results
      %h2 Follow up results
      - if @latest_follow_up_brand_results && @latest_follow_up_brand_results.length > 0
        - @latest_follow_up_brand_results.each do |br|
          = render "brand_results/brand_result", :object => present_brand_result(br)
        - if @follow_up_brand_results_count > Settings.dashboard.follow_up_results_number
          = link_to "View all follow up results", brand_results_path(:search => {:state_is => "follow_up"}), :class => "view_all"
      - else
        %p There are no results to follow up.
      
    .comments
      %h2 Latest comments
      - if @latest_comments && @latest_comments.length > 0
        - @latest_comments.each do |comment|
          = render "comments/comment", :object => comment
      - else
        %p There are no comments.
  
  .span-8.last.logs
    %h2 Activity
    - if @logs && @logs.length > 0
      .updates
        - @logs.group_by{ |l| l.created_at.at_beginning_of_day}.each do |day, logs|
          %h3
            %span= show_day(day)
          - present_logs(logs) do |log|
            = render "log", :object => log
    - else
      %p There are no logs.

    = will_paginate @logs, :previous_label => '&larr; Newer', :next_label => 'Older &rarr;'
