%div.result
  %p.status
    = brand_result.result.created_at.strftime("%I:%M%p")
    = brand_result.status
  %p
    %img{:src => "/images/#{brand_result.result.source}.png", :alt => brand_result.result.source }
    = sanitize brand_result.result.body
  %p.leenks
    = brand_result.action_links.join(" | ")