#sidebar
  %h3 Brands
  %ul
    %li= brand_filter("All")
    - @brands.each do |brand|
      %li= brand_filter(brand, brand.id)
  
  %h3 Timeframe
  %ul
    %li= time_filter(@search, :as => "Today", :by => :result_created_at, :between => [Time.now.beginning_of_day, Time.now.end_of_day])
    %li= time_filter(@search, :as => "Yesterday", :by => :result_created_at, :between => [1.days.ago.beginning_of_day, 1.days.ago.end_of_day])
    %li= time_filter(@search, :as => "This week", :by => :result_created_at, :between => [Time.now.beginning_of_week, Time.now.end_of_day ])
    %li= time_filter(@search, :as => "Last week", :by => :result_created_at, :between => [7.days.ago.beginning_of_week, 7.days.ago.end_of_week.end_of_day ])
    %li= time_filter(@search, :as => "This month", :by => :result_created_at, :between => [Time.now.beginning_of_month, Time.now.end_of_day ])
    %li= time_filter(@search, :as => "Last month", :by => :result_created_at, :between => [Time.now.last_month.beginning_of_month, Time.now.last_month.end_of_month.end_of_day ])
    %li= time_filter(@search, :as => "Any time", :by => :result_created_at)
    
#content
  #entries
    = page_entries_info @brand_results, :entry_name => "result"
  - if @brand_results && !@brand_results.empty?
    %table#results.index
      %tbody
        - @brand_results.each do |brand_result|
          = render "brand_result", :object => present_brand_result(brand_result)

  = will_paginate @brand_results, :previous_label => '&laquo; Newer', :next_label => 'Older &raquo;'