- title "Result"

- brand_result_with_presenter @brand_result do |brand_result|
  %div.result{ :id => brand_result.dom_id, :class => brand_result.read? && "read"}
    %div.status{:style => "background:transparent url('/images/#{brand_result.result.source}.png') no-repeat left center"}
      = format_date_time brand_result.result.created_at
      = brand_result.status
      %p.temperature_links
        = "[ #{brand_result.temperature_links.join(" | ")} ]"
    %div.body
      = auto_link(sanitize(brand_result.result.body), :urls, :html => { :target => '_blank'})
    %div.leenks
      = brand_result.action_links.join(" | ")
  
  %div.comments
    - @comments.each do |comment|
      = render "comments/comment", :object => comment
    
    - semantic_form_for [@brand_result, @comment] do |f|
      - f.inputs do
        = f.input :content, :label => "Leave a comment"
      - f.buttons do
        = f.commit_button "Post comment"