- title "Edit your information"

.content.account
  - semantic_form_for @user, :url => user_info_path, :html => { :method => :put } do |f|
    - if @user.using_twitter?
      %h2 Twitter Information
      - f.inputs do
        = f.input :name
        %li
          %label Screen name:
          %p= h @user.user_detail.twitter_screen_name
        %li
          %label Location:
          %p= h @user.user_detail.twitter_location
    - else
      %h2 Account Information
      - f.inputs do
        = f.input :password
        = f.input :password_confirmation
        %li= oauth_register_button :value => "Authorize with Twitter"
    - f.fields_for :user_detail do |user_detail|
      - f.inputs do
        = user_detail.input :email_updates, :required => false, :label => "I want to receive updates through email."
    - f.buttons do
      = f.commit_button "Update information"
      %li.actions
        or
        = link_to "Cancel", team_path
