- title "Edit your information"

.content.account
  - semantic_form_for @user, :url => user_info_path, :html => { :method => :put } do |f|
    - if @user.using_twitter?
      %h2 Twitter Information
      - f.inputs do
        = f.input :name
        %li
          %label Screen name:
          %p= h @user.screen_name
        %li
          %label Location:
          %p= h @user.location
    - else
      %h2 Account Information
      - f.inputs do
        = f.input :password
        = f.input :password_confirmation
        %li= oauth_register_button :value => "Authorize with Twitter"
    - f.buttons do
      = f.commit_button "Update information"
      or
      = link_to "Cancel", team_path
