#hd
  %h1
    = link_to 'Brandizzle', brand_results_path

  %ul#account-links
    - if current_user
      %li= "Welcome #{current_user}"
      - if current_user.invitation_limit > 0
        %li
          = link_to "Invite your friends", new_invitation_path
          = "(#{current_user.invitation_limit} left)"
      %li
        = link_to "My info", edit_user_path(current_user)
      %li= link_to "Sign out", user_session_path, :method => 'delete'
    - else
      %li= link_to "Login", new_user_session_path

  #nav
    %ul
      %li{:class => active("results") ? "selected" : nil}
        = link_to "Results", brand_results_path
      %li{:class => active("follow_up") ? "selected" : nil}
        = link_to "Follow up", brand_results_path(:search => { :follow_up_is => true } )
      %li{:class => active("brands") ? "selected" : nil}
        = link_to "Brands", brands_path
      %li{:class => active("team") ? "selected" : nil}
        = link_to "Team", team_path
      - if current_user.account_holder?
        %li{:class => active("account") ? "selected" : nil}
          = link_to "My account", edit_account_path
      %li= link_to "Search", "#"