.header
  .top
    %h1
      %span
        = link_to 'BrandPulse', root_path
    .account-links
      - if current_user
        %ul
          %li= "Welcome #{current_user}"
          %li= link_to "My info", edit_user_info_path
          %li= link_to "Sign out", user_session_path, :method => 'delete'
.navigation_wrap
  .navigation
    %ul
      - if current_user
        %li{:class => active("dashboard") ? "active" : nil}
          = link_to "Dashboard", dashboard_path
        %li{:class => active("results") ? "active" : nil}
          = link_to "Results", brand_results_path(:search => {:read_state => 0})
        %li{:class => active("brands") ? "active" : nil}
          = link_to "Brands", brands_path
        %li{:class => active("team") ? "active" : nil}
          = link_to "Team", team_path
        %li= link_to "Search", "#"
        - if current_user.account_holder?
          %li.right_side{:class => active("account") ? "active" : nil}
            = link_to "My account", edit_account_path