#header.clearfix
  %h1
    = link_to 'Brandizzle', brand_results_path
  .account
    %ul
      - if current_user
        %li
          Welcome
          = link_to current_user.login, edit_account_path
        - if current_user.invitation_limit > 0
          %li
            = link_to "Invite your friends", new_invitation_path
            = "(#{current_user.invitation_limit} left)"
        %li= link_to "Sign out", user_session_path, :method => 'delete'
      - else
        %li= link_to "Login", new_user_session_path