.grid_6
  %h2=h @brand.name

.grid_6.right
  #actions
    = link_to "Go back", brand_results_path
    = button_to "Delete brand", brand_path(@brand), :method => :delete, :class => "delete"

.clear

.grid_6
  - form_for [@brand, @query] do |f|
    %fieldset
      %legend Queries
    
      = f.text_field :term
      = f.submit 'Add term'
      
      %hr
      
      %ul#queries
        - @brand.queries.each do |query|
          %li
            = h query.term
            = link_to "Remove", brand_query_path(@brand, query), :method => :delete, :id => dom_id(query, :delete), :class => 'delete'
  
.grid_6
  - form_for @brand do |f|
    %fieldset
      %legend Settings
    
      = render :partial => 'fields', :locals => { :f => f }

      %p
        = f.submit 'Update'
