- title "Edit #{@brand.name} brand"

.buttons
  = link_to "Go back", brands_path, :class => "back"

.box
  %h3 Settings
  - semantic_form_for @brand do |f|
    - f.inputs do
      = f.input :name
    - f.buttons do
      = f.commit_button 'Update'
    
.box
  .left
    %h3 Queries
    - semantic_form_for [@brand, @query] do |f|
      - f.inputs do
        = f.input :term, :hint => "What you actually want to search on, maybe your Brand Name."
        %li
          = f.submit 'Add term'
  
  .right
    %h3 Terms
    %table.terms.index
      - @brand.queries.each do |query|
        %tr{:id => dom_id(query)}
          %td= h query.term
          %td= link_to "Remove", brand_query_path(@brand, query), :method => :delete, :id => dom_id(query, :delete), :class => 'delete', :confirm => "Are you sure you want to delete '#{query.term}' term?"


- content_for :head do
  :javascript
    $(document).ready(function(){
      $("#query_term").focus();
    });