.grid_12
  %h2 Latest results

  #filters  
    - form_for @search do |f|    
      = f.label :search_brands_id_is, "Brand"
      = f.collection_select(:search_brands_id_is, @brands, :id, :name, { :include_blank => "- All -" })
    
      = f.label :source_is, "Source"
      = f.select :source_is, [["twitter", "twitter"], ["blog", "blog"]], :include_blank => "- All -"
    
      = f.label :follow_up_is, "Flag"
      = f.select :follow_up_is, [["follow up", true]], :include_blank => "- All -"
    
      = f.submit "Filter"

.grid_9
  %table#results
    %tbody
      - if @results && !@results.empty?
        - @results.each do |result| 
          %tr
            %td.source
              %a{:href => result.url, :class => result.source, :title => result.source}
                = h result.source
            %td.body
              %a{:href => result.url, :title => result.url}
                = sanitize result.body
            %td{:style => 'white-space: nowrap;'}= result.created_at.to_s(:short)
            %td= button_to result.follow_up? ? 'Done' : 'Follow up', [:follow_up, result]
      - else
        %tr
          %td{:colspan => 4}
            No results.
  = will_paginate @results, :prev_label => '&laquo; Newer', :next_label => 'Older &raquo;'

.grid_3
  #sidebar
    %h3 Monitored brands

    %ul
      - @brands.each do |brand|
        %li= link_to h(brand.name), edit_brand_path(brand)

    #add-brand
      = link_to 'Add Brand', new_brand_path