.inner
  %h3 Monitored brands
  = link_to "Add a new brand", new_brand_path, :class => "add"
  %table#brands.index
    %thead
      %tr
        %th Brand
        %th Terms
        %th &nbsp;
    %tbody
      - @brands.each do |brand|
        %tr{:id => dom_id(brand)}
          %td= brand
          %td.terms= brand.queries.join(", ")
          %td.no-wrap
            = link_to "Manage", edit_brand_path(brand)
            \|
            = link_to "Remove", brand_path(brand), :method => :delete, :class => "remove", :confirm => "Are you sure you want to remove #{brand}?" 
            