%html
  %head
    %title Brandizzle
    = stylesheet_link_tag '960', 'reset', 'text', 'master', 'formtastic', :media => 'screen'
  %body
    .container_12
      #header
        .grid_12
          %h1#hero
            = link_to 'Brandizzle', root_path
          .account
            %ul
              - if current_user
                %li= link_to "Sign out", user_session_path, :method => 'delete'
              - else
                %li= link_to "Login", new_user_session_path
                %li= link_to "Sign up", new_account_path
        .clear
      .grid_12
        #flash
          - flash.each do |key, message|
            %div.flash(id=key)
              =h message
      .clear
      #page
        = yield
        .clear

      #footer
        %p
          %a{:href => '/'} Home
          |
          %a{:href => '/about'} About
        %p
          &copy; 2009
          %a{:href => 'http://bddcasts.com', :title => 'BDD Screencasts'} BDDCasts.com