!!!
%html
  %head
    %title Brandizzle    
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lte IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    
    = javascript_include_tag 'jquery-1.4.1', 'application'
    = yield :head
  %body.bp
    = render "shared/header"
    #bd
      #flash
        - flash.each do |key, message|
          %div.flash(id=key)
            =h message
      #main-content
        = yield
    = render "shared/footer"