!!!
%html
  %head
    %title Brandizzle    
    = stylesheet_link_tag 'compiled/screen.css', 'jquery-ui-1.8.custom', 'date-picker', :media => 'screen, projection'
    /[if lte IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.custom.min', 'date-picker', 'application'
    = yield :head
  %body
    .container
      = render "shared/header"
      .wrapper
        .content_wrap
          - if show_title?
            .heading
              = yield :heading
              %h2= h yield(:title)
          = render :partial => "shared/flash", :object => flash
          .main-content
            = yield
        .footer
          = render "shared/footer"