%html
  %head
    %title Brandizzle    
    = stylesheet_link_tag 'compiled/screen.css', 'formtastic', 'formtastic_changes', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    
    
    = javascript_include_tag 'jquery-1.4.1', 'application'
    = yield :head
  %body.bp
    .container_12
      = render "shared/header"
      .grid_12
        #flash
          - flash.each do |key, message|
            %div.flash(id=key)
              =h message
      .clear
      #page
        = yield
        .clear

      = render "shared/footer"