%html
  %head
    %title Brandizzle
    = stylesheet_link_tag '960', 'reset', 'text', 'master', 'formtastic', 'formtastic_changes', :media => 'screen'
    = javascript_include_tag 'jquery-1.4.1', 'application'
    = yield :head
  %body
    .container_12
      = render "shared/header"
      .grid_12
        #flash
          - flash.each do |key, message|
            %div.flash(id=key)
              =h message
      .clear
      #page
        = yield
        .clear

      = render "shared/footer"