!!!
%html
  %head
    %title Brandizzle    
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lte IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
  %body.bp
    #hd
      %h1
        = link_to 'Brandizzle', brand_results_path

      %ul#account-links
        %li= link_to "Login", new_user_session_path
    #bd
      #flash
        - flash.each do |key, message|
          %div.flash(id=key)
            =h message
      #main-content
        = yield
    = render "shared/footer"