!!!
%html
  %head
    %title BrandPulse
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'

    = yield :head
  %body
    .container.login
      .header
        .top
          %h1
            %span
              = link_to 'BrandPulse', root_path
          .account-links
            %ul
              %li= link_to "Login", new_user_session_path(:secure => true)
              %li= link_to "Sign up", new_account_path(:secure => true)
      .wrapper
        .content_wrap
          - if show_title?
            .heading
              %h2= h yield(:title)
          = render :partial => "shared/flash", :object => flash
          .main-content
            = yield
        .footer
          = render "shared/footer"