- title "Edit your account information"

= error_messages_for :account

- semantic_form_for @account, :url => account_path, :html => { :class => "account large" } do |f|
  - f.inputs do
    = f.input :first_name, :label => "First name on card"
    = f.input :last_name, :label => "Last name on card"
    = f.input :postal_code
    %li
      Accepted Card Types:
      %br
      %img{ :src => "/images/accepted_card_types.png", :alt => "Accepted Card Types"}
    = f.input :card_number
    %li
      = label_tag "Expiration Date*"
      = f.select :expiration_month,  ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
      \/
      = f.select :expiration_year,  Time.now.year..Time.now.year+10
    = f.input :cvv, :label => "Card verification number"
  - f.buttons do
    = f.commit_button "Update information"