- title "Edit your account information"

= error_messages_for :account

- semantic_form_for @account, :url => account_path, :html => { :class => "account large" } do |f|
  - f.inputs do
    = f.input :card_number
    = f.input :expiration_date
    = f.input :cvv, :label => "Card verification number"
  - f.buttons do
    = f.commit_button "Update information"