.inner
  %h3 Register for an account
  
  - semantic_form_for @account, :url => account_path do |f|
    - f.fields_for :holder do |holder_form|
      - f.inputs do
        = holder_form.hidden_field :invitation_token
        = holder_form.error_message_on :invitation_id
        = holder_form.input :login
        = holder_form.input :email
        = holder_form.input :password
        = holder_form.input :password_confirmation
      - f.buttons do
        = holder_form.commit_button "Create my account"